@using EcomercerWebsite_Fruit.Services
@using System;
@using System.Globalization;
@model PaginatedListServices<EcomercerWebsite_Fruit.DataTransferObject.dtoProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Shop</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sort by </span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                                    <option data-display="Select">Nothing</option>
                                    <option value="1">Popularity</option>
                                    <option value="2">High Price → High Price</option>
                                    <option value="3">Low Price → High Price</option>
                                    <option value="4">Best Selling</option>
                                </select>
                            </div>
                            <p>Showing all 4 results</p>
                        </div>
                    </div>

                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover" height="255px" width="240px">
                                                    @* <div class="type-lb">
                                                <p class="sale">Sale</p>
                                                @* class="img-fluid"
                                                </div> *@
                                                    <img src="~/images/FruitImages/@item.ProductImage" alt="Image" height="300px" width="240px">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductID" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <a class="cart" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.ProductID">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4>@item.ProductName</h4>
                                                    <h5>@{
                                                            string formatNumber = String.Format("{0:n}", item.ProductCost); 
                                                        }
                                                        @formatNumber .VND
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    
                </div>
                <div class="pagination d-flex justify-content-center mt-5">
                    <a asp-action="Index" asp-route-type="@ViewBag.type" asp-route-page="@(Model.PageIndex - 1)" class="btn hvr-hover"><i class="fas fa-arrow-left"></i></a>
                    <a asp-action="Index" asp-route-type="@ViewBag.type" asp-route-page="@(Model.PageIndex + 1)" class="btn hvr-hover"><i class="fas fa-arrow-right"></i></a>
                    @* <a asp-action="Index" asp-route-type="@ViewBag.type" asp-route-page="@(Model.PageIndex - 1)" class="btn hvr-hover">&laquo;</a>

                    <a asp-action="Index" asp-route-type="@ViewBag.type" asp-route-page="@(Model.PageIndex + 1)" class="btn hvr-hover">&raquo;</a> *@
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form action="#">
                            <input class="form-control" placeholder="Search here..." type="text">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        @await Component.InvokeAsync("ProductType")
                    </div>
                    <div class="filter-price-left">
                        <div class="title-left">
                            <h3>Price</h3>
                        </div>
                        <div class="price-box-slider">
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                <button class="btn hvr-hover" type="submit">Filter</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->