@model IEnumerable<EcomercerWebsite_Fruit.DataTransferObject.dtoWishList>



<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Wishlist</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Wishlist</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Wishlist  -->
<div class="wishlist-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Unit Price </th>
                                <th>Stock</th>
                                <th>Add Item</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="thumbnail-img">
                                            <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductID">
                                                <img class="img-fluid" src="~/images/FruitImages/@item.ProductImage" alt="" />
                                            </a>
                                        </td>
                                        <td class="name-pr">
                                            <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductID">
                                                @item.ProductName
                                            </a>
                                        </td>
                                        <td class="price-pr">
                                            <p>@item.ProductCost<span class="price-pr">.VND</span></p>
                                        </td>
                                        <td class="quantity-box">
                                            @{
                                                if (item.IsAvailable)
                                                {
                                                    <span class="ml-auto font-weight-bold">In stock</span>
                                                }
                                                else
                                                {
                                                    <span class="ml-auto font-weight-bold">Out of stock</span>
                                                }
                                            }
                                        </td>
                                        <td class="add-pr">
                                            @{
                                                if (item.IsAvailable)
                                                {
                                                    <a class="btn hvr-hover" asp-action="AddToCart" asp-controller="Cart">Add to Cart</a>
                                                }
                                                else
                                                {
                                                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-id ="@item.ProductID" class="btn hvr-hover disable">Add to Cart</a>
                                                }
                                            }

                                        </td>
                                        <td class="remove-pr">
                                            <a asp-action="RemoveFromWishList" asp-controller="Product" asp-route-id="@item.ProductID">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wishlist -->